
.navbar {
  background-color: #f9f6ee;
  color: #2d2d2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  font-family: 'Poppins', sans-serif;
}


.logo {
  font-size: 22px;
  font-weight: 700;
  color: #3e2a47; 
  display: flex;
  align-items: center;
  gap: 8px;
}


.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  transition: all 0.3s ease-in-out;
}

.nav-links li a {
  text-decoration: none;
  color: #2d2d2d;
  font-weight: 500;
  transition: color 0.2s, transform 0.2s;
}

.nav-links li a:hover {
  color: #7b4b94;
  transform: translateY(-1px);
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  background: #2d2d2d;
  height: 3px;
  width: 25px;
  border-radius: 5px;
  transition: all 0.3s;
}


@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 65px;
    right: -100%;
    background-color: #f9f6ee;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    text-align: right;
    box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .nav-links.active {
    right: 0;
  }

  .hamburger {
    display: flex;
  }


  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
  }
}

